.wide_1080 {
    max-width: 1280px;
    width: 100%;
    padding: 0 6%;
    margin: 0 auto;
}
html{
    font-size: 100%;
}
body {
    font-family: 'Kanit', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
/* header */
.header{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1px;
}
.logo img{
    display: block;
    width: 100%;
    /* padding: 20px 20px 0px; */
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 16px;
}
a img {
    width: 40%;
    padding: 5%;
}
.header{
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-between;

}
.header-image p{
    text-align: left;
    margin-inline-start: 200px;
    font-size: 50px;
}

.header-image {
    text-align: center;
    position: relative;
    
}

.header-image img {
    max-width: 100%;
    height: 45vw;
}


/* 漢堡 */
#menu-switch{
    display: none;
}
/* 三條線 */
.hb {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}
.hb span .menu-switch,
.hb span .menu-switch::before,
.hb span .menu-switch::after {
    background: #222;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 20px;
}
.hb span {
    width: 80%;
    height: 2px;
    margin: 3px auto;
    background-color: rgb(0, 0, 0);
}


@media (min-width: 768px) {
    .hb {
        display: none;
    }    
}

@media (max-width: 768px) {
    .menu li {
        width: 100%;
        display: none;
        border-color: #000;
        text-align: center;
    }  
}
.menu a {
    text-decoration: none;
    color: #000;
}
@media (max-width: 768px) {
    #menu-switch:checked ~ .main-header .header .menu
    {
        display: flex;
        justify-content: space-evenly;
    }
    #menu-switch:checked ~ .main-header .header .menu li {
    display: inline-block;
    text-align: -webkit-center;
    border-bottom: 1px solid #c5b0a1;
    /* text-align: center; */
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    }
    .menu a {
        display: block;
        padding: 10px;
        width: 20%;
    }
    .menu a + a {
        border-top: 1px solid #fff;
    }
    .logo img{
    display: block;
    width: 100%;
    padding: 0px 20px 0px;
    }
}
.menu{
    display: flex;
    width: 55%;
    font-size: 0.3em;
    text-align: right;
    margin: 20px;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}
@media (max-width: 768px) {
    .menu{
    position: fixed;
    right: 0;
    top: 0;
    width: 80vw;
    height: 70vh;
    display: none;
    background-color: #FFF9F2;
    z-index: 10;
    margin: 0;
    padding: 20px;
    flex-direction: column;
    transition: all 0.3s ease-in-out;

}
    a img {
        width: 20px;
        /* padding: 5%; */
    }
}
/* 媒體查詢end */


/* news_special_start */
.news_special_bg{
    background: rgba(255, 235, 210, 0.30);
}
.news_special{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.news_special_candp {
    display: flex;
    flex-wrap: wrap;

}
.news_special_contect_t1 {
    color: #320000;
    /* font-family: Nunito; */
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
    padding: 30px;
}

.news_special .news_special_contect{
    width: 40%;
    margin: 30px 5px 30px 30px;
    
}
.news_special_contect_t1{
    
    font-size: 40px;
    /* padding: 5%; */
}
.news_special .news_special_contect .news_special_contect_t2{
    font-size: 24px;
    /* padding: 5%; */
    color: #000;
    font-family: Noto Sans;
    font-weight: 700;
    line-height: 38px; /* 135.714% */
    letter-spacing: 5px;
    padding: 10px 0 10px 0;
}
.news_special .news_special_contect .news_special_contect_p{
    color: #000;
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    letter-spacing: 2px;
    /* padding: 6%; */
}
.news_special .news_special_pic{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    
}
/* 哈皮新聞RWD [ */
@media (max-width: 768px) {
    .news_special_contect_t1 {
    color: #320000;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
    padding: 30px;
}

.news_special .news_special_contect{
    width: 100%;
    margin: 0;
    
}
.news_special_contect_t1{
    
    font-size: 40px;
    /* padding: 5%; */
}
.news_special .news_special_contect .news_special_contect_t2{
    font-size: 24px;
    /* padding: 5%; */
    color: #000;
    font-family: Noto Sans;
    font-weight: 700;
    line-height: 1.5em; /* 135.714% */
    letter-spacing: 5px;
    padding: 10px 0 10px 0;
}
.news_special .news_special_contect .news_special_contect_p{
    color: #000;
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    letter-spacing: 2px;
    /* padding: 6%; */
}
.news_special .news_special_pic{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    
}
}
/* 哈皮新聞RWD ] */

.news_special .news_special_pic .news_special_pic_img img{
    /* padding: 170px 30px 0px 5px; */
    width: 100%;
}
.news_special .news_special_pic .news_special_pic_img_t{
    padding: 15px;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
}
/* news_special_end */

/* news_list_start */
.news_list{
    width: 70%;
    margin: auto;
    padding: 5%;
}
.news_list .news_list_sel{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* border: #000 solid; */
}
.news_list .news_list_sel .news_list_sel_1{
    display: flex;
    padding: 15px 55px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 6px solid #979B6A;
    font-size: 24px;
    color: #979B6A;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 10px;
}
.news_list .news_list_sel .news_list_sel_2{
    display: flex;
    padding: 15px 55px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 6px solid #DFA176;
    font-size: 24px;
    color: #DFA176;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 10px;
}
.news_list .news_list_sel .news_list_sel_3{
    display: flex;
    padding: 15px 55px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 6px solid #E7A87B;
    font-size: 24px;
    color: #E7A87B;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 10px;
}

.news_list .news_list_contects{
    display: flex;
    flex-direction: column;
    margin: 30px;
}
/* 1 */
.news_list .news_list_contects .news_list_contects1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    border-bottom: 2px solid #e8e6df;
}

.news_list .news_list_contects .news_list_contects1 .news_list_contects_text {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 70px
}
.news_list .news_list_contects .news_list_contects1 .news_list_contects_text .news_list_contects_text_aat {
    display: flex;
    justify-content: left;
    font-family: Nunito;
    /* align-items: center; */
}
.news_list .news_list_contects .news_list_contects1 .news_list_contects_text .news_list_contects_text_aat .news_list_contects_text_a{
    width: 100px;
    height: 25px;
    color: #000000;
    font-size: 15px;
    border-radius: 5px;
    background-color: #F4CC2E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news_list .news_list_contects .news_list_contects1 .news_list_contects_text .news_list_contects_text_aat .news_list_contects_text_time{
    width: 100px;
    height: 25px;
    color: #000000;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    margin-left: 25px;
    font-family: Nunito;    /* font-size: 20px; */
    font-weight: 500;
}
.news_list .news_list_contects .news_list_contects1 .news_list_contects_text  .news_list_contects_text_t{
    color: #000000;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
    font-family: Noto Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px; /* 135.714% */
    letter-spacing: 6px;
}
/* 2 */
.news_list .news_list_contects .news_list_contects2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    border-bottom: 2px solid #e8e6df;
}
.news_list .news_list_contects .news_list_contects2 .news_list_contects_pic {
    margin: 10px 10px 30px;
}
.news_list .news_list_contects .news_list_contects2 .news_list_contects_text {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 70px
}
.news_list .news_list_contects .news_list_contects2 .news_list_contects_text .news_list_contects_text_aat {
    display: flex;
    justify-content: left;
    /* align-items: center; */
}
.news_list .news_list_contects .news_list_contects2 .news_list_contects_text .news_list_contects_text_aat .news_list_contects2_text_a{
    width: 100px;
    height: 25px;
    color: #000000;
    font-size: 15px;
    border-radius: 5px;
    background-color: #FFA364;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news_list .news_list_contects .news_list_contects2 .news_list_contects_text .news_list_contects_text_aat .news_list_contects_text_time{
    width: 100px;
    height: 25px;
    color: #000000;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    margin-left: 25px;
    font-family: Nunito;
    /* font-size: 20px; */
    font-weight: 500;
}
.news_list .news_list_contects .news_list_contects2 .news_list_contects_text  .news_list_contects_text_t{
    color: #000000;
    font-size: 1.5em;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
    font-family: Noto Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px; /* 135.714% */
    letter-spacing: 6px;
}

/* 新聞RWD [ */
@media (max-width: 768px) {
    .news_list{
    width: 90%;
    margin: auto;
}

/* 1 */
.news_list .news_list_contects .news_list_contects1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    border-bottom: 2px solid #e8e6df;
}
.news_list .news_list_contects .news_list_contects1 .news_list_contects_pic img{
    width: 100%;
}
.news_list .news_list_contects .news_list_contects1 .news_list_contects_text {
    padding: 10px 10px 30px
}

.news_list .news_list_contects .news_list_contects1 .news_list_contects_text .news_list_contects_text_aat .news_list_contects_text_time{
    font-size: 1.2em;
}
.news_list .news_list_contects .news_list_contects1 .news_list_contects_text  .news_list_contects_text_t p{
    color: #000000;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 38px; /* 135.714% */
    letter-spacing: 5px;
    text-align: justify;
}
/* 2 */
.news_list .news_list_contects .news_list_contects2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    border-bottom: 2px solid #e8e6df;
}
.news_list .news_list_contects .news_list_contects2 .news_list_contects_pic img{
    width: 100%;
}
.news_list .news_list_contects .news_list_contects2 .news_list_contects_text {
    padding: 10px 10px 70px
}
.news_list .news_list_contects .news_list_contects2 .news_list_contects_text .news_list_contects_text_aat .news_list_contects_text_time{
    font-size: 1.2em;
}
.news_list .news_list_contects .news_list_contects2 .news_list_contects_text  .news_list_contects_text_t{
    color: #000000;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 38px; /* 135.714% */
    letter-spacing: 5px;
    text-align: justify;
}
}
/* 新聞RWD ] */

/* footer _start*/
.main_footer {
    width: 100%;
    margin: auto;
    background-color:#CD9933;
}
.footer_container {
    display: flex;
    padding: 60px 0 50px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.main_footer .footer_container {
    width: 80%;
    margin: auto;

}
.footer_container .footer_list1 {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 0px;
}
.footer_container .footer_list1 .footer_logo img {
    width: 90%;
}
.footer_container .footer_list1 .footer_info p {
    width: 100%;
    height: 151px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 3em;
    letter-spacing: 1px;
}


.footer_container .footer_list2 {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    /* padding: 200px; */
}
.footer_container .footer_list2 .nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 26px;
}

.footer_container .footer_list2 .nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.footer_container .footer_list2 .follow {
    margin-left: 20px;
    margin-top: 20%;
    margin-bottom: 15%;
    display: flex;
}
.footer_container .footer_list2 .follow img {
    width: 40px;
    display: flex;
    margin-right: 20px;
}

.footer_container .footer_copyright {
    padding-bottom: 20px;
    text-align: end;
}

.footer_container .footer_copyright p {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    color: white;
}
/* footer _end*/