.wide_wide {
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px;
}
html{
    font-size: 100%;
}
/* 英文字體設定 */
html:lang(en) {
    /* font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans TC', sans-serif; */
    font-family: 'Nunito', sans-serif;
}

/* 中文字體設定 */
 html:lang(zh) {
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Nunito', sans-serif;
} 

/* body {
    font-family: 'Kanit', sans-serif;
}
a {
    font-family: 'Nunito', sans-serif;
} */
* {
    margin: 0;
    padding: 0;
    /* background-position: center center;
    box-sizing: border-box;
    outline: none; */
}
.logo{
    width: 200px;
    margin-top: 30px;
}
.menu{
    display: flex;
    font-size: 24px;
    text-align: right;
    /* font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Nunito', sans-serif; */
    /* text-transform: uppercase; */
    margin: 65px 20px 0px 10px;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 20px;
}
a img {
    width: 20px;
}
.header{
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    /* align-items: center; */

}
.header-image p{
    text-align: left;
    margin-inline-start: 200px;
    font-size: 50px;
}

.header-image img{
    /* width: 100%; */
    height: 45vw;
}
.big-bg{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url(home_bannerbg.png);
    min-height: 100vh;    
}

h1{
    text-align: center;
}

/* 
news-start
*/

.news_container .title {
    text-align: center;
    padding-bottom: 30px;
    color: #320000;
    font-family: Nunito;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
}

.news_list .news_wrap .news_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* @media screen and (min-width: 1024px)
.news_list .news_wrap {
    max-width: 1160px;
    margin : auto;
    displa : flex;
    padding : 45px 0;
    justify-content : space-between;
    align-content : flex-start;
} */
.news_list .news_wrap .news_content{
    width: 70%;
    margin: auto;

    /* border-bottom: 1.5px solid #c1c1c1; */
}
/* 手機板NEWS */
@media (max-width: 768px) {
    .news_list .news_wrap .news_content{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* border-bottom: 1.5px solid #c1c1c1; */
}
}
.news_list .news_wrap:not(:last-child) .news_content {
    border-bottom: 1.5px solid #c1c1c1;
}

.news_wrap .news_content .news_pic {
    max-width: 100%;
    margin: 30px;
    display: grid;
    align-items: center;
}

.news_wrap .news_content .news_pic img {
    width: 100%;
    vertical-align: top;
}

.news_wrap .news_content .news_text {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    justify-content: space-between;
}
/* [手機板NEWS調整 排列跟照片 */
@media (max-width: 768px) {
    .news_wrap .news_content .news_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    justify-content: space-between;
}
.news_wrap .news_content .news_pic {
    max-width: 100%;
    margin: 30px 0 0;
    display: grid;
    align-items: center;
}
}
/* 手機板NEWS調整 排列跟照片] */

.news_wrap .news_content .news_text .date {
    font-size: 18px;
    color: #000;
    font-family: Nunito;
    font-weight: 500;
}

.news_wrap .news_content .news_text .news_title {
    color: #000;
    font-family: Noto Sans;
    font-size: 22px;
    font-style: normal;
    text-align: justify;
    font-weight: 700;
    line-height: 40px; /* 142.857% */
    letter-spacing: 5px;
    padding-top: 0.3em;
}

/* 手機板NEWS 字調整 [*/
@media (max-width: 768px) {
    .news_wrap .news_content .news_text .news_title {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 5px;
    text-align: justify;
    position: relative;
    padding-top: 1.5em;
}
.news_wrap .news_content .news_text .news_article {
    display: none;
}
.news_wrap .news_content .news_text .date {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    text-align: end;
    position: absolute;
}
.news_list .news_wrap .news_function .news_label {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2px;
    color: #ffffff;
    background-color: #DFA176;
    border-radius: 5px;
    width: 93px;
    /* line-height: 25px; */
    text-align: center;
    margin-top: 5px;
    padding: 6px;
}
}
/* 手機板NEWS 字調整 ]*/


.news_wrap .news_content .news_text .news_article {
    color: #000;
    text-align: justify;
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    letter-spacing: 2px;
}

.news_list .news_wrap .news_function {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news_list .news_wrap .news_function .news_label {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2px;
    color: #ffffff;
    background-color: #DFA176;
    border-radius: 5px;
    width: 93px;
    /* line-height: 25px; */
    text-align: center;
    margin-top: 5px;
    padding: 6px;
}

.news_list .news_wrap .news_function a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    /* transition: 0.2s; */
}

.news_list .news_wrap .news_function a  {
    font-size: 16px;
    display: flex;
    height: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: #B47549 solid 1px;
    border-radius: 50px;
    padding: 20px 40px;
}
.news_list .news_wrap .news_function a :hover {
    font-size: 20px;
    display: flex;
    height: 27px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
/* .viewmore a {
    background-color: #ffffff;
    color: #BC9A16;
    padding: 10px 55px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #B47549;
    background: rgba(255, 255, 255, 0.70);
    color: #BC9A16;
    /* font-family: Nunito; */
    /* font-weight: 700;
    display: block;
    text-align: center;
} */
.viewmore a:hover {
    background-color:#8f8d4f;
    color: #FFF;
} */
/* 
.section_contact {
    width: 100%;
} */

.contact_container {
    position: relative;
    overflow: hidden;
}

.section_contact .contact_container .contact_bg img {
    width: 100%;
    vertical-align: top;
}

/* slogan */
.slogan_slogan{
    max-width: 1200px;
    margin: 0 auto;
}
.section_slogan{
    background-size: cover;
    background: rgba(255, 235, 210, 0.30);
}
.section_slogan .title_slogan  {
    color: #AF4F41;
    /* font-family: Inter; */
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 20px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 20px;
    margin-top: 0;
}
.section_slogan .slogan_pic {
    display: flex;
    justify-content: center;
}
.slogan_pic .slogan_img{
    width: 20%;
}
.slogan_pic .slogan_img img {
    width: 100%;
    object-fit: cover;
}

/* products_start */
.section_products{
    margin-bottom: 100px;
    padding: 50px;
    background-color: rgba(255, 235, 210, 0.30);
    position: relative;
}
.products_wrap .turn_left{
    padding: 0px 10px;
    position: absolute;
    z-index: 1;
    left: 160px;
    top: 48%;
}
.products_wrap .turn_right{
    padding: 0px 10px;
    position: absolute;
    z-index: 1;
    right: 160px;
    top: 48%;
}
.title_products{
    color: #320000;
    /* font-family: Nunito; */
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
    padding: 90px 0 50px;
    margin-top: 0;
}
.products_wrap {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.products_card {
    box-sizing: border-box;
    width: 400px;
    /* border: 1px solid #666; */
    margin: 0 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.products_card img{
    width: 300px;
    vertical-align: middle;
    position: relative;
}
.product_piclab span{
    padding: 20px 10px;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #FFF;
    background-color: #DFA176;
    border: #ffffff 2px solid;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    margin-top: 220px;
    margin-left: -60px;
}
.product_piclab2 span{
    padding: 20px 10px;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #FFF;
    background-color: #8A8585;
    border: #ffffff 2px solid;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    margin-top: 220px;
    margin-left: -60px;
}
.product_piclab3 span{
    padding: 20px 10px;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #FFF;
    background-color: #BBC6C1;
    border: #ffffff 2px solid;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    margin-top: 220px;
    margin-left: -60px;
}
.products_wrap .products_card h2{
    text-align: center;
    margin: 15px 10px 10px;
}
.products_wrap .products_card p{
    text-align: center;
    margin: 5px;
    /* font-family: Nunito; */
    line-height: 1.5;
    padding: 10px;
}
.viewmore a {
    background-color: #ffffff;
    color: #BC9A16;
    padding: 10px 55px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #B47549;
    background: rgba(255, 255, 255, 0.70);
    color: #BC9A16;
    /* font-family: Nunito; */
    font-weight: 700;
    display: block;
    text-align: center;
}
.viewmore a:hover {
    background-color:#8f8d4f;
    color: #FFF;
}

/* products_end */

/* about _start*/

.section_about{
    background: linear-gradient(180deg, #FFFEFC 0%, #FFF 0.01%, #FFEBD2 53.82%);
    
}
.section_about .title_about{
    color: #320000;
    /* font-family: Nunito; */
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
    padding: 30px;
}
.section_about .about_wrap{
    /* width: 75%; */
    display: flex;
    /* justify-content: space-between; */
    padding: 8px 0 5px;
    margin: auto;
    /* align-items: flex-start; */
}
.section_about .about_wrap .about_contect_sp .about_slogn_hops{
    color: #663200;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 5px;
    width: 100%;
    padding: 10px;
}
.section_about .about_wrap .about_contect_sp {
    width: 58.3333%;
}

.section_about .about_wrap .about_contect_sp .about_pic {
    width: 100%;
}
.section_about .about_wrap .about_contect_sp .about_pic img{
    margin: 10px 0px 80px;
    width: 100%;
    object-fit: cover;
}
.section_about .about_wrap .about_contect_text .about_article{
    color: #000;
    text-align: justify;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 227.273% */
    letter-spacing: 1px;
    margin: 15px;
}
.section_about .about_wrap .about_contect_text {
    margin-top: 5%;
    width: 41.6666%;
    
}
.section_about .about_wrap .about_contect_text .viewmore{
    margin-left: 55%;
    /* position: absolute; */
}
.beer_pic{
    /* width: 80%; */
    padding: 0px 10px 0px 30px;
    position: relative;
    right: -50px;
    top: 95px;
}

#pagetop {
    position: fixed;
    bottom: 42px;
    right: 15%;
    margin-right: -131px; 
    bottom: 42px;
    background-color: #FFF; /* 設定按鈕背景色 */
    padding: 26px 20px; /* 設定按鈕內間距 */
    border-radius: 100%; /* 設定按鈕圓角 */
    display: none; /* 初始時隱藏按鈕 */
    cursor: pointer;
    color: #B47549;
    border: #B47549 solid 1px;

}

/* #pagetop:hover {
    background-color: #b47549; /* 設定按鈕懸停時的背景色 */
/* } */ */

/* 在滾動時顯示按鈕 */
body.scroll #pagetop {
    display: block;
}

/* about _end*/



/* footer _start*/
.main_footer {
    width: 100%;
    margin: auto;
    background-color:#CD9933;
}
.footer_container {
    display: flex;
    padding: 60px 0 50px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.main_footer .footer_container {
    width: 80%;
    margin: auto;

}
.footer_container .footer_list1 {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 0px;
}
.footer_container .footer_list1 .footer_logo img {
    width: 90%;
}
.footer_container .footer_list1 .footer_info p {
    width: 100%;
    height: 151px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 3em;
    letter-spacing: 1px;
}


.footer_container .footer_list2 {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    /* padding: 200px; */
}
.footer_container .footer_list2 .nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 26px;
}

.footer_container .footer_list2 .nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-weight: bold;
    letter-spacing: 2px;
}

.footer_container .footer_list2 .follow {
    margin-left: 20px;
    margin-top: 20%;
    margin-bottom: 15%;
    display: flex;
    justify-content: flex-end;
}
.footer_container .footer_list2 .follow img {
    width: 40px;
    display: flex;
    margin-right: 20px;
}

.footer_container .footer_copyright {
    padding-bottom: 20px;
    text-align: end;
}

.footer_container .footer_copyright p {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    color: white;
}
/* footer _end*/
