* {
    margin: 0;
    padding: 0;
    /* background-position: center center;
    box-sizing: border-box;
    outline: none; */
}
.logo{
    width: 300px;
    margin-top: 10px;
}
body {
    font-family: 'Kanit', sans-serif;
}
.menu{
    display: flex;
    font-size: 24px;
    text-align: right;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Nunito', sans-serif;
    /* text-transform: uppercase; */
    margin: 65px 20px 0px 10px;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 20px;
}
a img {
    width: 20px;
}
.header{
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    /* align-items: center; */

}

.section_banner .banner_container {
    width: 100%;
    padding-top: 32px;
    position: relative;
}

.banner_container .banner_bg {
    max-width: 1500px;
    height: 250px;
    background-image: url(banner.png);
    background-size: cover;
    background-position: center;
    margin: auto;
}
.banner_container .banner_text {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, 0);
}

.banner_container .banner_text h2 {
    font-size: 42px;
    font-weight: 600;
    color: white;
    letter-spacing: 4px;
    padding: 20px 0;
}

/* header_end */

/* menu_list_start */
.menu_listall{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 30px 20px 0px;

}
.menu_listall .list_all{
    width: 130px;
    height: 130px;
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 50%;
    border: #AF4F41 solid 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AF4F41;
    font-weight: bold;
    font-size: 25px;
    margin: 15px;
}
.menu_listall .list_all:hover{
    background-color: #AF4F41;
    border: #AF4F41 solid 5px;
    color: #ffffff;
    font-weight: bold;
}
.menu_listall .list_craft ,.list_season, .list_area, .list_mystery, .list_others{
    width: 100px;
    height: 100px;
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 50%;
    border: #AF4F41 solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #AF4F41;
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
}
.menu_listall .list_craft:hover{
    background-color: #AF4F41;
    border: #AF4F41 solid 5px;
    color: #ffffff;
    font-weight: bold;
}
/* menu_list_end */

/* products_beer_craft_start */
.others_products_title {
    color: black;
    font-size: 48px;
    font-family: Inter;
    font-weight: 700;
    letter-spacing: 3px;
    word-wrap: break-word
}
.beer_craft {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.beer_craft .beer_products_title{
    color: #000;
    font-family: Noto Sans;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 5px;
    margin: 100px 0 30px;
}

.wraps {
    display: flex;
    justify-content: space-around;
    max-width: 70%;
    margin-top: 20px;
    border-top: 2px solid #e8e6df;
}

.wrap {
    text-align: center;
    width: 30%;
    padding: 10px;
    margin: 40px 10px 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FFF9F2;
}
.card img{
    width: 98%;
}
.card .card_contect {
    text-align: start;
}
.card .card_contect h1{
    text-align: start;
    color: #000;
    font-family: Noto Sans;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 15px 3px 5px;
}
.card .card_contect h4{
    text-align: start;
    color: #000;
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px 3px 10px;
}
.card .card_contect p{
    text-align: start;
    color: #000;
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: 0.25em;
    padding: 10px 3px 10px;
}
.card .card_contect .price{
    text-align: end;
    color: #000;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: 2px;
    padding: 15px;
}
.beer_craft a{
    color: #353535;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 5px;
    border: #000 solid 1px;
    border-radius: 50px;
    display: inline-flex;
    padding: 16px 77px;
    margin: 35px 0px 45px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #A2A2A2;
    background: #FFF;
}
/* products_beer_craft_end */

/* slogan */
.slogan{
    background-size: cover;
    background: rgba(255, 235, 210, 0.30);
}
.slogan .slogan_pic {
    display: flex;
    justify-content: center;
}
/* slogan */
/* footer _start*/
.main_footer {
    width: 100%;
    margin: auto;
    background-color:#CD9933;
}
.footer_container {
    display: flex;
    padding: 60px 0 50px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.main_footer .footer_container {
    width: 80%;
    margin: auto;

}
.footer_container .footer_list1 {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 0px;
}
.footer_container .footer_list1 .footer_logo img {
    width: 90%;
}
.footer_container .footer_list1 .footer_info p {
    width: 100%;
    height: 151px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 3em;
    letter-spacing: 1px;
}


.footer_container .footer_list2 {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    /* padding: 200px; */
}
.footer_container .footer_list2 .nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 26px;
}

.footer_container .footer_list2 .nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.footer_container .footer_list2 .follow {
    margin-left: 20px;
    margin-top: 20%;
    margin-bottom: 15%;
    display: flex;
}
.footer_container .footer_list2 .follow img {
    width: 40px;
    display: flex;
    margin-right: 20px;
}

.footer_container .footer_copyright {
    padding-bottom: 20px;
    text-align: end;
}

.footer_container .footer_copyright p {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    color: white;
}
/* footer _end*/