.wide_1080 {
    max-width: 1280px;
    width: 100%;
    padding: 0 6%;
    margin: 0 auto;
}
html{
    font-size: 100%;
}
body {
    font-family: 'Kanit', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    /* background-position: center center;
    box-sizing: border-box;
    outline: none; */
}
.logo{
    width: 300px;
    margin-top: 10px;
}
.menu{
    display: flex;
    font-size: 24px;
    text-align: right;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Nunito', sans-serif;
    /* text-transform: uppercase; */
    margin: 65px 20px 0px 10px;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 20px;
}
a img {
    width: 20px;
}
.header{
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    /* align-items: center; */

}

.section_banner .banner_container {
    width: 100%;
    padding-top: 32px;
    position: relative;
}

.banner_container .banner_bg {
    max-width: 1500px;
    height: 250px;
    background-image: url(banner.png);
    background-size: cover;
    background-position: center;
    margin: auto;
}
.banner_container .banner_text {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, 0);
}

.banner_container .banner_text h2 {
    font-size: 50px;
    font-weight: 600;
    color: white;
    letter-spacing: 4px;
    padding: 20px 0;
}

/* header_end */

/* news_special_start */
.news_special_bg{
    background: rgba(255, 235, 210, 0.30);
}
.news_special{
    width: 70%;
    margin: auto;
    display: flex;
    
}
.news_special .news_special_contect{
    width: 70%;
    margin: 30px;
    
}
.news_special .news_special_contect .news_special_contect_t1{
    font-size: 40px;
    padding: 5%;
}
.news_special .news_special_contect .news_special_contect_t2{
    font-size: 32px;
    padding: 5%;
    color: #000;
    font-family: Noto Sans;
    font-weight: 700;
    line-height: 38px; /* 135.714% */
    letter-spacing: 6px;
}
.news_special .news_special_contect .news_special_contect_p{
    color: #000;
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    letter-spacing: 2px;
    padding: 6%;
}
.news_special .news_special_pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.news_special .news_special_pic .news_special_pic_img{
    padding: 170px 30px 0px 5px;
    /* width: 70%; */
}
.news_special .news_special_pic .news_special_pic_img_t{
    padding: 15px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 5px;
}
/* news_special_end */

/* news_list_start */
.news_list{
    width: 70%;
    margin: auto;
    padding: 80px;
}
.news_list .news_list_sel{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* border: #000 solid; */
}
.news_list .news_list_sel .news_list_sel_1{
    display: flex;
    padding: 15px 55px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 6px solid #979B6A;
    font-size: 24px;
    color: #979B6A;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 10px;
}
.news_list .news_list_sel .news_list_sel_2{
    display: flex;
    padding: 15px 55px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 6px solid #DFA176;
    font-size: 24px;
    color: #DFA176;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 10px;
}
.news_list .news_list_sel .news_list_sel_3{
    display: flex;
    padding: 15px 55px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 6px solid #E7A87B;
    font-size: 24px;
    color: #E7A87B;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 10px;
}

.news_list .news_list_contects{
    display: flex;
    flex-direction: column;
    margin: 30px;
}
/* 1 */
.news_list .news_list_contects .news_list_contects1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    border-bottom: 2px solid #e8e6df;
}
.news_list .news_list_contects .news_list_contects1 .news_list_contects_pic {
    margin: 10px 10px 30px;
}
.news_list .news_list_contects .news_list_contects1 .news_list_contects_text {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 70px
}
.news_list .news_list_contects .news_list_contects1 .news_list_contects_text .news_list_contects_text_aat {
    display: flex;
    justify-content: left;
    font-family: Nunito;
    /* align-items: center; */
}
.news_list .news_list_contects .news_list_contects1 .news_list_contects_text .news_list_contects_text_aat .news_list_contects_text_a{
    width: 100px;
    height: 25px;
    color: #000000;
    font-size: 15px;
    border-radius: 5px;
    background-color: #F4CC2E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news_list .news_list_contects .news_list_contects1 .news_list_contects_text .news_list_contects_text_aat .news_list_contects_text_time{
    width: 100px;
    height: 25px;
    color: #000000;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    margin-left: 25px;
    font-family: Nunito;    /* font-size: 20px; */
    font-weight: 500;
}
.news_list .news_list_contects .news_list_contects1 .news_list_contects_text  .news_list_contects_text_t{
    color: #000000;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
    font-family: Noto Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px; /* 135.714% */
    letter-spacing: 6px;
}
/* 2 */
.news_list .news_list_contects .news_list_contects2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    border-bottom: 2px solid #e8e6df;
}
.news_list .news_list_contects .news_list_contects2 .news_list_contects_pic {
    margin: 10px 10px 30px;
}
.news_list .news_list_contects .news_list_contects2 .news_list_contects_text {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 70px
}
.news_list .news_list_contects .news_list_contects2 .news_list_contects_text .news_list_contects_text_aat {
    display: flex;
    justify-content: left;
    /* align-items: center; */
}
.news_list .news_list_contects .news_list_contects2 .news_list_contects_text .news_list_contects_text_aat .news_list_contects2_text_a{
    width: 100px;
    height: 25px;
    color: #000000;
    font-size: 15px;
    border-radius: 5px;
    background-color: #FFA364;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news_list .news_list_contects .news_list_contects2 .news_list_contects_text .news_list_contects_text_aat .news_list_contects_text_time{
    width: 100px;
    height: 25px;
    color: #000000;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    margin-left: 25px;
    font-family: Nunito;
    /* font-size: 20px; */
    font-weight: 500;
}
.news_list .news_list_contects .news_list_contects2 .news_list_contects_text  .news_list_contects_text_t{
    color: #000000;
    font-size: 1.5em;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
    font-family: Noto Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px; /* 135.714% */
    letter-spacing: 6px;
}
/* news_list_end*/

/* footer _start*/
.main_footer {
    width: 100%;
    margin: auto;
    background-color:#CD9933;
}
.footer_container {
    display: flex;
    padding: 60px 0 50px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.main_footer .footer_container {
    width: 80%;
    margin: auto;

}
.footer_container .footer_list1 {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 0px;
}
.footer_container .footer_list1 .footer_logo img {
    width: 90%;
}
.footer_container .footer_list1 .footer_info p {
    width: 100%;
    height: 151px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 3em;
    letter-spacing: 1px;
}


.footer_container .footer_list2 {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    /* padding: 200px; */
}
.footer_container .footer_list2 .nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 26px;
}

.footer_container .footer_list2 .nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.footer_container .footer_list2 .follow {
    margin-left: 20px;
    margin-top: 20%;
    margin-bottom: 15%;
    display: flex;
}
.footer_container .footer_list2 .follow img {
    width: 40px;
    display: flex;
    margin-right: 20px;
}

.footer_container .footer_copyright {
    padding-bottom: 20px;
    text-align: end;
}

.footer_container .footer_copyright p {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    color: white;
}
/* footer _end*/