.wide_1080 {
    max-width: 1280px;
    width: 100%;
    padding: 0 6%;
    margin: 0 auto;
}
html{
    font-size: 100%;
}
* {
    margin: 0;
    padding: 0;
    /* background-position: center center;
    box-sizing: border-box;
    outline: none; */
}
.logo{
    width: 300px;
    margin-top: 10px;
}
.menu{
    display: flex;
    font-size: 24px;
    text-align: right;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Nunito', sans-serif;
    /* text-transform: uppercase; */
    margin: 65px 20px 0px 10px;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 20px;
}
a img {
    width: 20px;
}
.header{
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    /* align-items: center; */

}

/* header_end */


