/* 英文字體設定 */
html:lang(en) {
    font-family: 'Nunito', sans-serif;
}

/* 中文字體設定 */
html:lang(zh) {
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Nunito', sans-serif;
} 

* {
    margin: 0 ;
    padding: 0;
}
/* header */

.main-header{
    background-size: cover;
    background-position: center top;
    /* background-repeat: no-repeat; */
}
.header{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1px;
}
.logo img{
    display: block;
    width: 100%;
    /* padding: 20px 20px 0px; */
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 16px;
}
a img {
    width: 80%;
    padding: 5%;
}
.header{
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-between;

}
.section_banner .banner_container {
    width: 100%;
    padding-top: 5px;
    position: relative;
}

.banner_container .banner_bg {
    max-width: 100%;
    height: 250px;
    background-image: url(./banner.png);
    background-size: cover;
    background-position: center;
    margin: auto;
}
.banner_container .banner_text {
    position: absolute;
    top: 40%;
    left: 15%;
    /* transform: translate(-50%, 0); */
}

.banner_container .banner_text h2 {
    font-size: 50px;
    font-weight: 600;
    color: white;
    letter-spacing: 4px;
    padding: 20px 0;
}

/* header_end */

/* 漢堡 */
#menu-switch{
    display: none;
}
/* 三條線 */
.hb {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}
.hb span .menu-switch,
.hb span .menu-switch::before,
.hb span .menu-switch::after {
    background: #222;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 20px;
}
.hb span {
    width: 80%;
    height: 2px;
    margin: 3px auto;
    background-color: rgb(0, 0, 0);
}


@media (min-width: 768px) {
    .hb {
        display: none;
    }    
}

@media (max-width: 768px) {
    .menu li {
        width: 100%;
        display: none;
        border-color: #000;
        text-align: center;
    }  
}
.menu a {
    text-decoration: none;
    color: #000;
}
@media (max-width: 768px) {
    #menu-switch:checked ~ .main-header .header .menu
    {
        display: flex;
        justify-content: space-evenly;
    }
    #menu-switch:checked ~ .main-header .header .menu li {
    display: inline-block;
    text-align: -webkit-center;
    border-bottom: 1px solid #c5b0a1;
    /* text-align: center; */
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    }
    .menu a {
        display: block;
        padding: 10px;
        width: 20%;
    }
    .menu a + a {
        border-top: 1px solid #fff;
    }
    .logo img{
    display: block;
    width: 100%;
    padding: 0px 20px 0px;
    }
}
.menu{
    display: flex;
    width: 55%;
    font-size: 0.3em;
    text-align: right;
    margin: 20px;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}
@media (max-width: 768px) {
    .menu{
    position: fixed;
    right: 0;
    top: 0;
    width: 80vw;
    height: 70vh;
    display: none;
    background-color: #FFF9F2;
    z-index: 10;
    margin: 0;
    padding: 20px;
    flex-direction: column;
    transition: all 0.3s ease-in-out;

}
    a img {
        width: 20px;
        /* padding: 5%; */
    }
}
/* 媒體查詢end */
/* header_end */
/* ------------------------------------------------------------------- */

/* about_top_contect */
.about_top_contect{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 50px;
}
.about_top_contect p span{
    color: #000;
    text-align: justify;
    font-family: Kosugi Maru;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 24px;
    line-height: 2em;
    letter-spacing: 2px;
    width: 70%;
}
.about_top_contect p{
    color: #000;
    text-align: justify;
    font-family: Kosugi Maru;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 2.5em;
    letter-spacing: 2px;
    width: 70%;
    padding: 20px; 
    text-align: center;
}
@media (max-width: 768px) {
    .about_top_contect{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px auto 50px;
    }

}
/* about_top_contect */

/* lineline_start */
.lineline{
    margin: 3% auto;
    width: 80%;
    border: 1px #838383 solid;
}
/* lineline_end */



/* about_feature */
.about_title {
	padding: 35px 0 0 0;
	margin: 0 0 50px 0;
	text-align: center;
}
.about_menu {
    width: 80%;
    display: flex;
    margin: 0 auto;
}


.about_menu li:first-child {
    border-left: 1px solid #e8e6df;
}
/* @media (max-width: 768px) {
.about_menu li:first-child {
    border-top: 1px solid #e8e6df;
    padding-top: 0;
    width: 100%;
    border-left: none;
}   */

.about_menu li {
    display: block;
    width: 33.3%;
    border-right: 1px solid #e8e6df;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 24px;
    padding-top: 30px;
    background-size: 13px auto;
}
/* @media (max-width: 768px) {
.about_menu li {
    display: block;
    width: 50%;
    font-size: 1.6rem;
    padding: 20px 20px 40px;
    background-size: 13px auto;
    background-position: center bottom 20px;
    border-bottom: 1px solid #e8e6df;
}  */
@media (max-width: 768px) {
    .about_menu {
        width: 80%;
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .about_menu li {
        border-right: 1px #f43c04;
    }
    .about_menu li:first-child {
        border-left: 1px  #e8e6df;
    }
    .about_menu li {
        display: block;
        width: 50%;
    }
    }
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #1a2d51;
    transition: .2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_menu li img {
    width: 160px;
    margin: 0 0 10px;
}
a img {
    transition: .2s ease-in-out;
}
img {
    border: 0;
    vertical-align: top;
}
.about_menu li span {
    display: block;
}
.about_title {
    padding: 45px 0 0;
    margin: 0 0 50px;
    text-align: center;
}
.about_title img {
    width: 300px;
    margin: 0 0 10px;
}
img {
    border: 0;
    vertical-align: top;
}
/* about_feature start*/
.about_feature {
    width: 80%;
    margin: 0 auto;
}
/* about_feature1 start*/
.about_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.about_title h2 {
    font-size: 40px;
    padding: 30px 0 0;
}
.feature_content {
    position: relative;
    padding: 0 0 80px;
    display: flex;
    flex-direction: column;
}
.feature_content_textimg {
    display: flex;
    flex-direction: ;
}
.feature_content_text {
    width: 45%;
    padding: 5%;
    border: 1px solid #e8e6df;
    background: #FFEDD7;
    border-radius: 10px;
    position: relative;
    z-index: 10;
}
.feature_content_text_title {
    font-size: 30px;
    margin: 0 0 30px;
    font-family: Kosugi Maru;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 2px;
}
.feature_content_img img {
    width: 52.5%;
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
    border-radius: 10px;
}
/* about_feature1 end*/
/* about_feature2 start*/

.feature_content2 {
    position: relative;
    padding: 0 0 80px;
    display: flex;
    flex-direction: column;
}
.feature_content_num2 {
    margin-right: 0;
    margin-left: auto;
}
.feature_content_textimg2 {
    display: flex;
    flex-direction: row-reverse;

}
.feature_content_img2 img {
    width: 52.5%;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    border-radius: 10px;
} 
.feature_content:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    flex-direction: wrap-reverse; 
}
@media (max-width: 768px) {
    .about_title h2 {
        font-size: 40px;
        padding: 30px;
    }
    .feature_content2 {
        position: relative;
        padding: 0 0 80px;
        display: flex;
        flex-direction: column;
    }
    .feature_content_text {
        width: 80%;
        padding: 5%;
        border: 1px solid #e8e6df;
        background: #FFEDD7;
        border-radius: 10px;
        position: relative;
        z-index: 10;
    }
    .feature_content_img img {
        width: 70%;
        position: absolute;
        z-index: 5;
        top: -5%;
        /* right: 0; */
        border-radius: 10px;
        padding-top: 1%;
    }
    .feature_content_img2 img {
        width: 70%;
        position: absolute;
        z-index: 5;
        top: -5%;
        left: 0;
        border-radius: 10px;
    } 

}

/* about_feature2 end*/
/* about_feature_end*/
p {
    text-align: justify;
    color: #000;
    font-family: Kosugi Maru;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 225% */
    letter-spacing: 2px;
}


/* flow */
.about_flow_bg{
    background-image: url(about_flow_bg.png);
    background-size: cover;
}
.about_flow {
    /* width: 100%; */
    padding: 45px 0 0;
    margin: 0 0 50px;
    text-align: center;
    /* background-image: url(about_flow_bg.png); */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.about_flow .flow_text{
    width: 70%;
    font-size: 16px;
    padding: 30px;
}

.about_flow h2 {
    font-size: 40px;
    padding: 30px 0 0;
}
.about_flow .wide_795 {
    color: #000;
    font-family: Noto Sans;
    font-size: 20px;
    line-height: 2em;
    letter-spacing: 2px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.about_flow img {
    width: 300px;
    margin: 20px 0 10px;
}
.about_flow .chart_area .chart_area_type1 {
    display: flex;
    margin: 50px;
    justify-content: space-between;
    align-items: center;
    justify-content: space-evenly;
}
.flow_raw {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 10px;
    background: rgba(226, 193, 180, 0.26);
}
@media (max-width: 768px) {
    .flow_raw {
        display: flex;
        flex-wrap: wrap;
    }
    .flow_rawraw{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 auto;
    }
    .about_flow h2 {
        font-size: 40px;
        padding: 0 0 0;
    }
}
.flow_rawraw{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}
.flow_raw .flow_raw_1{
    width: 45%;
    margin: 20px;
}
.flow_raw .flow_raw_1 img{
    margin: 5px;
    width: 50%;
}
.flow_raw .flow_raw_1 h3{
    font-size: 20px;
}
.flow_raw .flow_raw_1 p{
    color: #000;
    text-align: justify;
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    letter-spacing: 2px;    
}

/* about_flow start */
.chart_area{
    width: 85%;
    margin: 0 auto;
}
.chart_area_type1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about_flow .chart_area .chart_area_type1 h3{
    font-size: 25px;
    background-color: antiquewhite;
    margin: 30px 0px 30px 0px;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}
.chart_area_content{
    display: flex;
    align-items: center;
    width: 70%;
    color: #000;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    letter-spacing: 2px;
    border: 1px solid #ede9d2;
    background: #FFF;
}
.chart_area_content p {
    width: 50%;
    text-align: justify;
    color: #000;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 225% */
    letter-spacing: 2px;
    padding: 10px 10px 0 30px;
}
.about_flow .chart_area .chart_area_type1 .content p{
    color: #000;
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    letter-spacing: 2px;
    padding: 30px;
}


.chart_area_type2 {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}
.flow2{
    /* width: 15%; */
}
.chart_area_type2 h3{
    font-size: 25px;
    background-color: antiquewhite;
    margin: 30px 0px 30px 0px;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.chart_area_content2{
    display: flex;
    align-items: center;
    width: 70%;
    color: #000;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    letter-spacing: 2px;
    border: 1px solid #ede9d2;
    background: #FFF;
    flex-direction: row-reverse;
}
.chart_area_content2 p{
    color: #000;
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    letter-spacing: 2px;
    padding: 30px;
    width: 40%;
    text-align: justify;

}
.about_flow .chart_area img{
    /* width: 50%; */
    /* padding-bottom: 50px; */
}

@media (max-width: 768px) {
    .about_flow .chart_area .chart_area_type1 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 0;
    }
    .chart_area_type2 {
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
    }
    .chart_area_content {
        display: flex;
        align-items: center;
        width: 100%;
        color: #000;
        font-family: Noto Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 2px;
        border: 1px solid #ede9d2;
        background: #FFF;
        flex-direction: column;
    }
    .chart_area_content2 {
        display: flex;
        align-items: center;
        width: 100%;
        color: #000;
        font-family: Noto Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 2px;
        border: 1px solid #ede9d2;
        background: #FFF;
        /* flex-direction: row-reverse; */
        flex-direction: column;
    }
    .chart_area_content p {
        width: 90%;
        text-align: justify;
        color: #000;
        font-family: Noto Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 2px;
        padding: 10px 10px 0 10px;
    }
    .chart_area_content2 p {
        width: 90%;
        text-align: justify;
        color: #000;
        font-family: Noto Sans;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 2px;
        padding: 10px 10px 0 10px;        
    }
}


/* team */

.about_teamm{
    background: linear-gradient(180deg, #FFFEFC 0%, white 0%, #FFEBD2 54%)
}
.about_title{
    width: 80%;
}
.team_text{
    color: #000;
    font-family: Noto Sans;
    font-size: 16px;
    line-height: 2em;
    letter-spacing: 2px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 30px;
}
.about_title .img_fac{
    width: 90%;
    margin: 0 auto;
}
.about_title .img_fac img{
    width: 100%;
    padding: 25px 0px;
    
}
.team_person1_contect{
    width: 80%;
}
.about_title .team_person1, .team_person2{
    background-color: #FFF8F3;
    border: #f4f4f4 solid;
    width: 85%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;    
}
.about_title .team_person1 .team_person1_title {
    font-size: 30px;
    text-align: left;
    margin: 30px 10px 30px 50px;
    }
.about_title .team_person2 .team_person2_title {
    font-size: 30px;
    text-align: right;
    margin: 30px 50px 30px 10px;
}    
.about_title .team_person1 .team_person1_pic {
    width: 50%;
    margin: 40px 40px 40px 10px;
}

.team_person1_pic img {
    width: 100%;
}

.about_title .team_person2 .team_person2_pic {
    width: 50%;
    margin: 40px 10px 40px 40px;
}
.team_person2_pic img {
    width: 100%;
}
.about_title .team_person1 .team_person1_text {
    width: 80%;
    color: #000;
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    letter-spacing: 2px;
    margin: 20px 0px 20px 50px;
}
.about_title .team_person2 .team_person2_text {
    width: 80%;
    color: #000;
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    letter-spacing: 2px;
    margin: 20px 50px 20px 0px;
    float: right;
    /* display: flex;
    flex-direction: row-reverse;
    margin: 50px; */
}
.team_person2_contect{
    width: 80%;
}

@media (max-width: 768px) {

    .about_title .team_person1{
        background-color: #ffffff;
        border: #f4f4f4 solid;
        width: 100%;
        /* height: 30%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;    
    }
    .team_person1_title {
        font-size: 30px;
        text-align: left;
        margin: 30px 10px 30px 50px;
    }
    .about_title .team_person1 .team_person1_title {
        font-size: 30px;
        text-align: left;
        margin: 30px 10px 20px 10px;
    }
    .about_title .team_person2 .team_person2_title {
        font-size: 30px;
        text-align: left;
        margin: 30px 10px 20px 0px;
    }
    .about_title .team_person1 .team_person1_text {
        width: 100%;
        color: #000;
        font-family: Noto Sans;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 2px;
        margin: 0;
    }
    .about_title .team_person2 .team_person2_text {
        width: 100%;
        color: #000;
        font-family: Noto Sans;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 2px;
        margin: 0;
    }
    .about_title .team_person2 {
        background-color: #ffffff;
        border: #f4f4f4 solid;
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}

#pagetop i{
    position: fixed;
    /* bottom: 35px;
    right: 5%; */
    margin: 2vw; 
    width: 50px;
    height: 50px;
    background-color: #FFF; /* 設定按鈕背景色 */
    /* padding: 26px 20px; 設定按鈕內間距 */
    border-radius: 100%; /* 設定按鈕圓角 */
    display: none; /* 初始時隱藏按鈕 */
    cursor: pointer;
    color: #B47549;
    border: #B47549 solid 2px;
    right: 0;
    bottom: 0;
    display: grid;
    place-content: center;
}


/* footer _start*/
.main_footer {
    width: 100%;
    margin: auto;
    background-color:#CD9933;
}
.footer_container {
    display: flex;
    padding: 40px 0 50px;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}
.main_footer .footer_container {
    width: 85%;
    height: auto;
    margin: auto;

}
.footer_container .footer_list1 {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 0px;
}
.footer_container .footer_list1 .footer_info p {
    width: 100%;
    flex-shrink: 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 3em;
    letter-spacing: 1px;
}


.footer_container .footer_list2 {
    /* width: 100%; */
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    /* padding: 200px; */
}

.footer_container .footer_list2 .nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 26px;
}

.footer_container .footer_list2 .nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-weight: bold;
    letter-spacing: 2px;
}

.footer_container .footer_list2 .follow {
    margin-left: 20px;
    margin-top: 20%;
    margin-bottom: 15%;
    display: flex;
    justify-content: flex-end;
}
.footer_container .footer_list2 .follow img {
    width: 40px;
    display: flex;
    margin-right: 20px;
}

.footer_container .footer_copyright {
    padding-bottom: 20px;
    text-align: end;
}

.footer_container .footer_copyright p {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    color: white;
}
@media (max-width: 768px) {
    .footer_container .footer_list2 .nav a {
        display: none;
    }  
    .footer_container .footer_list2 .follow {
        margin: 0;
    }
    .footer_container .footer_copyright {
        padding-bottom: 10px;
        text-align: end;
}

    .footer_container .footer_copyright p {
        font-size: 12px;
        font-weight: 300;
        /* line-height: 1; */
        color: rgb(255, 255, 255);
        margin: 2px;
}
    .footer_container {
        display: flex;
        padding: 60px 0 50px;
        max-width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
        /* justify-content: end; */
    }
}
/* footer _end*/
    
