/* 英文字體設定 */
html:lang(en) {
    font-family: 'Nunito', sans-serif;
}

/* 中文字體設定 */
html:lang(zh) {
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Nunito', sans-serif;
} 

* {
    margin: 0 ;
    padding: 0;
}
/* header */

.main-header{
    background-size: cover;
    background-position: center top;
    /* background-repeat: no-repeat; */
}
.header{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1px;
}
.logo img{
    display: block;
    width: 100%;
    /* padding: 20px 20px 0px; */
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 16px;
}
a img {
    width: 40%;
    padding: 5%;
}
.header{
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-between;

}
.section_banner .banner_container {
    width: 100%;
    padding-top: 5px;
    position: relative;
}

.banner_container .banner_bg {
    max-width: 100%;
    height: 250px;
    background-image: url(./banner.png);
    background-size: cover;
    background-position: center;
    margin: auto;
}
.banner_container .banner_text {
    position: absolute;
    top: 40%;
    left: 15%;
    /* transform: translate(-50%, 0); */
}

.banner_container .banner_text h2 {
    font-size: 50px;
    font-weight: 600;
    color: white;
    letter-spacing: 4px;
    padding: 20px 0;
}

/* header_end */

/* 漢堡 */
#menu-switch{
    display: none;
}
/* 三條線 */
.hb {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}
.hb span .menu-switch,
.hb span .menu-switch::before,
.hb span .menu-switch::after {
    background: #222;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 20px;
}
.hb span {
    width: 80%;
    height: 2px;
    margin: 3px auto;
    background-color: rgb(0, 0, 0);
}


@media (min-width: 768px) {
    .hb {
        display: none;
    }    
}

@media (max-width: 768px) {
    .menu li {
        width: 100%;
        display: none;
        border-color: #000;
        text-align: center;
    }  
}
.menu a {
    text-decoration: none;
    color: #000;
}
@media (max-width: 768px) {
    #menu-switch:checked ~ .main-header .header .menu
    {
        display: flex;
        justify-content: space-evenly;
    }
    #menu-switch:checked ~ .main-header .header .menu li {
    display: inline-block;
    text-align: -webkit-center;
    border-bottom: 1px solid #c5b0a1;
    /* text-align: center; */
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    }
    .menu a {
        display: block;
        padding: 10px;
        width: 20%;
    }
    .menu a + a {
        border-top: 1px solid #fff;
    }
    .logo img{
    display: block;
    width: 100%;
    padding: 0px 20px 0px;
    }
}
.menu{
    display: flex;
    width: 55%;
    font-size: 0.3em;
    text-align: right;
    margin: 20px;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}
@media (max-width: 768px) {
    .menu{
    position: fixed;
    right: 0;
    top: 0;
    width: 80vw;
    height: 70vh;
    display: none;
    background-color: #FFF9F2;
    z-index: 10;
    margin: 0;
    padding: 20px;
    flex-direction: column;
    transition: all 0.3s ease-in-out;

}
    a img {
        width: 20px;
        /* padding: 5%; */
    }
}
/* 媒體查詢end */
/* header_end */
/* ------------------------------------------------------------------- */

/* contact_information_start */

.contact{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    padding: 50px;
    justify-content: space-between;
    border-bottom: #000 solid 1px;
}
.contact_information{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.contact_information h1{
    color: #000;
    font-family: Noto Sans;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 20% 0 10%;
}
.contact_information .info_wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contact_information .info_wrap .text{
    color: #000;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 15px;
    text-align: start;
}

#map-container {
    height: 100%;
    width: 100%;
}
#googlemap {
    width: 55%;
}

@media (max-width: 768px) {
    .contact {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 auto;
        justify-content: space-between;
    }
    .contact_information{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    #googlemap {
        width: 100%;
        height: 300px;
        padding: 20px 0;
    }
}



/* contact_information_end */

/* form_start */
.contect_form_title{ 
    padding: 50px 0 10px;
    align-items: center;
    text-align: center;
    font-size: 24px;
    line-height: 2em;
    font-weight: 600;
}

.form_content {
    width: 100%;
    margin: 0 auto;

}
.contect_form {
    width: 90%;
    font-size: 14px;
    font-weight: 400;
    color: #898989;
    background-color: rgba(255, 235, 210, 0.30);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    position: relative;
    padding: 0 0 50px;
}

.contect_form .form_content .form_content_name,.form_content_email, .form_content_phone, .form_content_category, .form_content_category,.form_content_odernu, .form_content_content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}
.name_label, .email_label, .phone_label, .category_label, .category_label, .odernu_label, .content_label{
    padding: 20px;
}

.form_content_content{
    display: flex;
    align-items: start;
    justify-content: center;
    height: 250px;
}
.form_content_content .content_input textarea {
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 250px;
}


input, textarea, select {
    box-sizing: border-box;
    width: 400px;
    height: 55px;
    color: #898989;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 1px;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
    background-color: transparent;
    padding: 0 15px;
}

@media (max-width: 768px) {
    .contect_form .form_content .form_content_name,.form_content_email, .form_content_phone, .form_content_category, .form_content_category,.form_content_odernu, .form_content_content{
        display: flex;
        margin: 20px;
        font-weight: 400;
        align-items: center;
    }
    input, textarea, select {
        width: 95%;
        font-size: 12px;
    }
    .name_label, .email_label, .phone_label, .category_label, .category_label, .odernu_label, .content_label{
        padding: 5px;
        font-size: 15px;
    }
    .name_input, .email_input, .phone_input, .category_select, .odernu_input, .content_input{
        width: 70%;
    }
}


.wrapper{
    /* position: relative; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}
button{
    font-family: 'Ubuntu', sans-serif;
    width: 170px;
    height: 40px;
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid #FC7643;
    background: #fff;
    color: #FC7643;
    border-radius: 40px;
    cursor: pointer;
    overflow: hidden;
    transition: all .35s;
}

button:hover{
    background: #FC7643;
    color: #fff;
}


/* form_end */


/* footer _start*/
.main_footer {
    width: 100%;
    margin: auto;
    background-color:#CD9933;
    }
    .footer_container {
    display: flex;
    padding: 40px 0 50px;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    }
    .main_footer .footer_container {
    width: 85%;
    height: auto;
    margin: auto;
    
    }
    .footer_container .footer_list1 {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 0px;
    }
    .footer_container .footer_list1 .footer_info p {
    width: 100%;
    flex-shrink: 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 3em;
    letter-spacing: 1px;
    }
    
    
    .footer_container .footer_list2 {
    /* width: 100%; */
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    /* padding: 200px; */
    }
    
    .footer_container .footer_list2 .nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 26px;
    }
    
    .footer_container .footer_list2 .nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-weight: bold;
    letter-spacing: 2px;
    }
    
    .footer_container .footer_list2 .follow {
    margin-left: 20px;
    margin-top: 20%;
    margin-bottom: 15%;
    display: flex;
    justify-content: flex-end;
    }
    .footer_container .footer_list2 .follow img {
    width: 40px;
    display: flex;
    margin-right: 20px;
    }
    
    .footer_container .footer_copyright {
    padding-bottom: 20px;
    text-align: end;
    }
    
    .footer_container .footer_copyright p {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    color: white;
    }
    @media (max-width: 768px) {
    .footer_container .footer_list2 .nav a {
    display: none;
    }  
    .footer_container .footer_list2 .follow {
    margin: 0;
    }
    .footer_container .footer_copyright {
    padding-bottom: 10px;
    text-align: end;
    }
    
    .footer_container .footer_copyright p {
    font-size: 12px;
    font-weight: 300;
    /* line-height: 1; */
    color: rgb(255, 255, 255);
    margin: 2px;
    }
    .footer_container {
    display: flex;
    padding: 60px 0 50px;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    /* justify-content: end; */
    }
    }
    /* footer _end*/
